<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="luanvan.luanvantotnghiep">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.SignInActivity"
            android:label="Đăng Nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailElementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ConfigElectronActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ShowTheoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.QuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FillInTheBlankActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CheckVersionDatabaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MatchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SortActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChooseLevelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="Đăng Ký"
            android:parentActivityName=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="Cập nhật mật khẩu"
            android:parentActivityName=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.EquilibriumActivity"
            android:label="Cân bằng phương trình"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activity.ContentMethodActivity"></activity>
    </application>

</manifest>