<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="luanvan.luanvantotnghiep">

    <application
        android:icon="@drawable/logo_app"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.SignInActivity"
            android:label="Đăng Nhập">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Trò chơi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailElementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ConfigElectronActivity"
            android:label="Cấu hình Electron"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ShowTheoryActivity"
            android:label="Nội dung chuyên đề"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.QuizActivity"
            android:label="Trắc nghiệm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FillInTheBlankActivity"
            android:label="Điền khuyết"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CheckVersionDatabaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MatchActivity"
            android:label="Nối cột"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SortActivity"
            android:label="Sắp xếp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChooseLevelActivity"
            android:label="Chọn cấp độ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustPan"
            android:label="Đăng Ký"
            android:parentActivityName=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="Cập nhật mật khẩu"
            android:parentActivityName=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.EquilibriumActivity"
            android:label="Cân bằng phương trình"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ContentMethodActivity"
            android:label="Phương pháp cân bằng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AppActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>